{% extends 'base.html' %}

{% block title %}Aula6 - Editar contato {{ contato.first_name }} {{ contato.last_name }}{% endblock %}

{% block content %}
	<h3>Editar contato</h3>
	<form action="." method="post">{% csrf_token %}
		{{ form.as_p }}
		<p>
			<input type="submit" value="Enviar">
		</p>
	</form>
{% endblock %}