{% extends 'base.html' %}

{% block title %}Aula6 - Cadastro de Contatos{% endblock %}

{% block content %}
	<h3>Adicionar Contato</h3>
	<form action="." method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<p>
			<input type="submit" value="Enviar">
		</p>
	</form>

	<h3>Lista de Contatos cadastrados</h3>
	{% if contatos %}
		{% for contato in contatos %}
			<p>
				{{ contato.first_name }} {{ contato.last_name }}
			</p>
		{% endfor %}
	{% else %}
		<p>
			Não temos contatos cadastrados.
		</p>
	{% endif %}
{% endblock %}