{% extends 'base.html' %}

{% block title %} Aula 7 - Formulário de login {% endblock %}

{% block content %}

<h3>Faça seu login</h3>
<form action="." method="post">{% csrf_token %}
	{{ form.as_p }}
	<p>
		<input type="submit" value="Enviar">
	</p>
</form>

{% endblock %}